/target/
/.classpath
/.idea/
/.project
/.settings/
/scratch.txt
/shell.nix
**/target/
/analyzer/dependency-reduced-pom.xml
/.factorypath
**/.classpath
**/.factorypath
**/.settings/
**/dependency-reduced-pom.xml
**/*.iml
