**/.idea/
**/.project
/shell.nix
**/target/
/.factorypath
**/.classpath
**/.factorypath
**/.settings/
**/dependency-reduced-pom.xml
**/*.iml
/policy/pom.xml
/policy-graph/src/main/resources/mutantPolicy.pl
/policy-graph/src/main/resources/mutantPolicy.pal
